<div class="pagina">
 <button
  type="button"
  class="btn-voltar-inicio"
  (click)="voltarInicio()">
  ← Voltar para o início
</button>

  <div class="container">

    <div class="cabecalho-lista">

      <span class="etiqueta">
        Agendamentos
      </span>

      <h1>Meus agendamentos</h1>

      <p>
        Consulte seus horários agendados.
      </p>

    </div>


    @if (agendamentos.length === 0) {

      <div class="sem-agendamentos">

        <h2>Nenhum agendamento encontrado</h2>

        <p>
          Você ainda não possui nenhum agendamento.
        </p>

      </div>

    }


    @for (agendamento of agendamentos; track agendamento.id) {

      <div
        class="card-agendamento"
        [class.cancelado]="agendamento.status === 'Cancelado'">

        <div class="topo-card">

          <div>
            <h2>{{ agendamento.loja }}</h2>
            <p>{{ agendamento.servico }}</p>
          </div>

          <span
            class="status"
            [class.status-cancelado]="agendamento.status === 'Cancelado'">

            {{ agendamento.status }}

          </span>

        </div>


        <div class="detalhes">

          <div>
            <span>Data</span>
            <strong>{{ formatarData(agendamento.data) }}</strong>
          </div>

          <div>
            <span>Horário</span>
            <strong>{{ agendamento.horario }}</strong>
          </div>

          <div>
            <span>Valor</span>
            <strong>{{ agendamento.valor }}</strong>
          </div>
          
 @if (agendamento.status === 'Cancelado') {

    <div class="area-excluir">
      <button
        type="button"
        class="btn-excluir"
        (click)="excluirAgendamento(agendamento.id)">
        Excluir
      </button>
    </div>

  }

        </div>


        @if (agendamento.status === 'Confirmado') {

          <button
            class="btn-cancelar"
            type="button"
            (click)="cancelarAgendamento(agendamento.id)">
            Cancelar agendamento
          </button>

        }

      </div>

    }

  </div>

</div>